@font-face {
    font-family: popExtraLight;
    src: url(assets/fonts/Poppins-ExtraLight.otf);
}

@font-face {
    font-family: popLight;
    src: url(assets/fonts/Poppins-Light.otf);
}

@font-face {
    font-family: popMedium;
    src: url(assets/fonts/Poppins-Medium.otf);
}

@font-face {
    font-family: popSemiBold;
    src: url(assets/fonts/Poppins-SemiBold.otf);
}

@font-face {
    font-family: popExtraBold;
    src: url(assets/fonts/Poppins-ExtraBold.otf);
}

@font-face {
    font-family: popBlack;
    src: url(assets/fonts/Poppins-Black.otf);
}

*{
    padding: 0;
    margin: 0;
    user-select: none;
    -webkit-user-drag: none;
}

body {
    background-color: #1b1b1b;
}

#app {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.container .example-img{
    height: 40vh;
    width: 40vh;
}